* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.corpo {
    padding: 50px 20px;
    width: 100%;
    max-width: 1200px;
}

.corpo h1,h3 {
    text-align: center;
    font-size: 36px;
    color: #11114e;
    margin-bottom: 30px;
}
.corpo h2{
    font-size: 30px;
    color: #11114e;
    margin-bottom: 16px;
}
p {
    font-size: 19px;
    text-align: justify;
}
#onu {
    color: blue;
    text-decoration: none;
}

#onu:hover {
    color: red;
}

.ods-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
}
.ods-container img {
    width: 130px;
    height: 130px;
    transition: transform 0.3s;
}

.ods-container img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar .lmgv {
        margin-bottom: 10px;
    }

    .ods-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .ods-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .corpo h1, h3 {
        font-size: 27px;
    }
    .corpo h2 {
        font-size: 23px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .ods-container {
        grid-template-columns: repeat(2, 1fr);
      
    }

    .corpo h1, h3 {
        font-size: 23px;
    }
    .corpo h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }

    #log {
        width: 60px;
    }
}

