.mensagem{
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out forwards;
    opacity: 0; 
    transition: opacity 1s ease;
}
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

#ods {
    float: right;
    width: 100%; 
    max-width: 609px; 
    height: auto; 
}
.corpo{
    margin-top: 200px;
}
header {
    position: fixed;
    top: 0px;
    background-color: #11114e;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    transition: padding 0.3s;
}
header.minimized{
    padding: 5px 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    color: #fff;
    flex-wrap: nowrap;
}
.logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: #ffffff; 
    font-size: 22px; 
    padding: 10px; 
}
  
.logo .material-symbols-outlined {
    font-size: 25px; 
    margin-top: 0px; 
    color: #ffffff; 
    line-height: 1;
}
.logo a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.casinha{
    fill: #ffffff;
    width: 31px;
    height: 31px;
    transition: 0.5s;
}
.casinha:hover {
    transform: scale(1.15);
    transition: 0.4s;
}

.butao-login {
    display: flex;
    align-items: center;
    background: none;
    gap: 8px;
    padding: 10px 20px; 
    font-size: 22px; 
    color: white;
    border: none;
    cursor: pointer;
}
  
.butao-login .material-symbols-outlined {
    color: white;
    font-size: 22px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s, transform 0.3s;
}
  
.butao-login:hover .material-symbols-outlined {
    opacity: 1;
    transform: translateX(0);
}


.butao-sair {
    display: flex;
    align-items: center;
    background: none;
    gap: 8px;
    padding: 10px 20px; 
    font-size: 22px; 
    color: white;
    border: none;
    cursor: pointer;
}
  
.butao-sair .material-symbols-outlined {
    color: white;
    font-size: 22px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s, transform 0.3s;
}
  
.butao-sair:hover .material-symbols-outlined {
    opacity: 1;
    transform: translateX(0);
}
  
#log {
    width: 90px;
    transition: width 0.3s ease-in-out;
}

#log.minimized{
    width: 61px;
}

.navbar .menu {
    display: flex;
    align-items: center;
}
  
.navbar .menu a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    margin-right: 10px;
}
    
.navbar .logout {
    display: flex;
    align-items: center;
}
  
.navbar .logout a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    margin-right: 10px;
}
#log:hover {
    animation: log 3s linear infinite;
}
@keyframes log {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}

footer {
    background-color: #11114e;
    padding: 20px 0;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
}
  
.footer-tudo {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  
.footer-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    max-width: 1000px;
}
  
@media (min-width: 768px) {
    .footer-conteudo {
        flex-direction: row;
        justify-content: space-between;
    }
}
  
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
  
.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
  
.footer-links a:hover {
    color: #ccc;
}
  
.redes {
    display: flex;
    gap: 15px;
}
#insta:hover{
    color: #f05e4b;
}
#xtwi:hover{
    color: #1111c2;
}
.redes a {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #797474b9;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}
  
.redes a:hover {
    transform: scale(1.2);
    background-color: #555;
    color: #0073e6;
}
  
footer p {
    font-size: 16px;
    margin-top: 30px;
    color: #ccc;
}
  