
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.cookie {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4b5006;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.cookie.show {
  opacity: 1;
  visibility: visible;
}

.cookie button {
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#recusascookies {
  background-color: #af4c4c;

}
#aceitascookies{
  background-color: #4CAF50;

}
#recusascookies:hover {
  background-color: #ac3737;
}
#aceitascookies:hover {
  background-color: #37ac3d;
}
.cookie a {
  color: #cab749;
  text-decoration: underline;
}

.corpo h1 {
  font-size: 36px;
  color: #11114e;
  margin-bottom: 30px;
}

.corpo {
  text-align: center;
  background-image: url("");
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
}

p {
  font-size: 18px;
  text-align: justify;
}

#onu {
  color: blue;
  text-decoration: none;
}

#onu:hover {
  color: red;
}

#ods-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
  padding: 20px;
}

#ods-container a {
  transition: transform 0.3s;
}

#ods-container a:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#ods-container img {
  width: 130px;
  height: 130px;
  transition: transform 0.3s;
}

#ods-container img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .navbar .menu a {
    font-size: 18px;
    margin: 0 10px 0 0;
  }

  #ods-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
 }

 @media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  #ods-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .corpo h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
 }

 @media (max-width: 480px) {
  #log {
    width: 70px;
  }

  .navbar .lmgv {
    font-size: 16px;
    padding: 8px 14px;
  }

  #ods-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .corpo h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
 }
